[submodule "bitbake"]
	path = bitbake
	url = https://git.openembedded.org/bitbake
	branch = 2.0
[submodule "meta-96boards"]
	path = meta-96boards
	url = https://github.com/96boards/meta-96boards.git
	branch = kirkstone
[submodule "meta-artesyn"]
	path = meta-artesyn
	url = https://github.com/voltumna-linux/meta-artesyn.git
	branch = kirkstone
[submodule "meta-intel"]
	path = meta-intel
	url = git://git.yoctoproject.org/meta-intel
	branch = kirkstone
[submodule "meta-mingw"]
	path = meta-mingw
	url = git://git.yoctoproject.org/meta-mingw
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "meta-ti"]
	path = meta-ti
	url = git://git.yoctoproject.org/meta-ti
	branch = kirkstone
[submodule "meta-tango"]
	path = meta-tango
	url = https://github.com/voltumna-linux/meta-tango.git
	branch = kirkstone
[submodule "openembedded-core"]
	path = openembedded-core
	url = https://git.openembedded.org/openembedded-core
	branch = kirkstone
[submodule "meta-dpdk"]
	path = meta-dpdk
	url = git://git.yoctoproject.org/meta-dpdk
	branch = kirkstone
[submodule "meta-arm"]
	path = meta-arm
	url = git://git.yoctoproject.org/meta-arm
	branch = kirkstone
[submodule "meta-intel-fpga"]
	path = meta-intel-fpga
	url = https://git.yoctoproject.org/meta-intel-fpga
	branch = kirkstone
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = kirkstone
