# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "7"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/../../meta-voltumna \
  ##OEROOT##/../meta-dpdk \
  ##OEROOT##/../meta-tango \
  ##OEROOT##/../meta-mingw \
  ##OEROOT##/../meta-artesyn \
  ##OEROOT##/../meta-altera \
  ##OEROOT##/../meta-intel \
  ##OEROOT##/../meta-intel-qat \
  ##OEROOT##/../meta-arm/meta-arm \
  ##OEROOT##/../meta-arm/meta-arm-toolchain \
  ##OEROOT##/../meta-ti \
  ##OEROOT##/../meta-clang \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openembedded/meta-filesystems \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-networking \
  ##OEROOT##/../meta-openembedded/meta-webserver \
  ##OEROOT##/meta \
  "
